DATABASE_URL=postgresql://postgres:postgres@localhost/evenzoo
JWT_SECRET=evenzoo_super_secret_key_change_this
JWT_EXPIRE_MINUTES=60
JWT_REFRESH_EXPIRE_DAYS=7
RAZORPAY_KEY_ID=rzp_test_xxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx
CLOUDINARY_URL=cloudinary://xxxx
PLATFORM_COMMISSION=0.06
MSG91_AUTH_KEY=547333AaV9JizXzm6a489dd5P1
MSG91_TEMPLATE_ID=6a48a07008727cd0a50d9c22
CLOUDINARY_CLOUD_NAME=elm5helo
CLOUDINARY_API_KEY=916785571475724
CLOUDINARY_API_SECRET=NihIvJC0ko43X0r2SRHqIDRAXDg